<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.palettone.shoppingwebsite.mapper.ItemMapper">
    <select id="selectAll" resultType="xyz.palettone.shoppingwebsite.entity.Item">
        SELECT *
        FROM  tb_item
    </select>

    <select id="selectAllTags" resultType="xyz.palettone.shoppingwebsite.entity.Tag">
        SELECT *
        FROM  tb_tag
    </select>

    <update id="updateById" >
        UPDATE tb_tag
        SET tag = #{tagName}
        WHERE id = #{id}
    </update>

    <delete id="removeByName" >
        DELETE FROM tb_tag
        WHERE tag = #{tagName}
    </delete>

    <insert id="save" >
        INSERT INTO tb_tag
        SET tag=#{tagName}
    </insert>

    <select id="selectByName" resultType="xyz.palettone.shoppingwebsite.entity.Item">
        SELECT *
        FROM  tb_item
        WHERE name = #{tagName}
    </select>

</mapper>