<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.palettone.shoppingwebsite.mapper.ItemMapper">
    <select id="selectAll" resultType="xyz.palettone.shoppingwebsite.entity.Item">
        SELECT *
        FROM  tb_item
    </select>

    <select id="selectByName" resultType="xyz.palettone.shoppingwebsite.entity.Item">
        SELECT *
        FROM  tb_item
        WHERE name = #{itemName}
    </select>

</mapper>