<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.palettone.shoppingwebsite.mapper.UserMapper">
    <select id="selectUserByName" resultType="xyz.palettone.shoppingwebsite.entity.User">
        SELECT *
        FROM  tb_user
        WHERE username =  #{userName}
    </select>

    <select id="selectUserById" resultType="xyz.palettone.shoppingwebsite.entity.User">
        SELECT *
        FROM  tb_user
        WHERE id =  #{userId}
    </select>

    <update id="updateById" >
        UPDATE tb_user
        SET tag = #{tag}, role=#{role}
        WHERE id = #{id}
    </update>

    <update id="resetPsdByName" >
        UPDATE tb_user
        SET password = "000000"
        WHERE username = #{userName};
    </update>
</mapper>